/* === MAIN BACKGROUND === */
QStackedWidget {
    background-color: qlineargradient(
        spread:pad,
        x1:0, y1:0,
        x2:1, y2:1,
        stop:0 #0d0d0d,
        stop:1 #1a1a1a
    );
}

/* === LABELS === */
QLabel {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* === TEXT BROWSER === */
QTextBrowser#textProductDescription {
    background-color: #121212;
    color: white;
    border: 5px solid #333;
    border-radius: 12px;
    padding: 6px;
}

/* === BUTTONS === */
QPushButton {
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #34495e;
}

QPushButton:pressed {
    background-color: #1abc9c;
}

QPushButton:disabled {
    background-color: #555;
    color: #888;
}

QPushButton#startButton,
QPushButton#pauseButton,
QPushButton#parametersButton,
QPushButton#settingsButton {
    min-width: 160px;
    max-width: 160px;
    min-height: 80px;
    max-height: 80px;
}
/* === STATUS LABELS === */
#label_StatusState {
    color: #1abc9c;
    font-weight: bold;
}

/* === CAMERA FEED === */
#CameraFeed {
    background-color: black;
    border: 2px solid #333;
}

/* === PANEL === */
#Panel {
    background-color: #181818;
    border-right: 2px solid #333;
}

QLineEdit {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #fdfdfd;
}
QLineEdit:focus {
    border: 2px solid #4CAF50;
    background-color: #ffffff;
}
QScrollArea {
    border: none;
    background-color: transparent;
}
/* ===== SETTINGS PAGE BUTTONS ===== */
#buttonReturnSettings {
    background-color: #2ecc71;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #27ae60;
}

#buttonExit {
    background-color: #e74c3c;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #c0392b;
}

/* ===== UPTIME LABEL ===== */
#uptimeLabel {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

/* ===== POPUP OVERLAY ===== */
#popupOverlay {
    background-color: rgba(0, 0, 0, 150);
}

/* ===== POPUP BOX ===== */
#popupBox {
    background-color: #333;
    border: 2px solid #999;
    border-radius: 15px;
}

/* ===== POPUP TEXT ===== */
#labelPopup {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* ===== POPUP BUTTONS ===== */
#yesBtn {
    background-color: #c0392b;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

#noBtn {
    background-color: #27ae60;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

#yesBtn:hover {
    background-color: #e74c3c;
}

#noBtn:hover {
    background-color: #2ecc71;
}

